version: '3'
services:
  db:
    image: mysql:8.0.23
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./db/mysql/volumes:/var/lib/mysql
      #- ./db/mysql/conf:/etc

  api:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
